<!--   Content  Templated  -->
<form name="reg_form" class="form-horizontal container-fluid" role="form">
	<div class="container">	
	<h3 style="text-shadow:0px 0px green;position: relative;left: 33%; top: 5%;">Employee Registration</h3>
	<div class="col-sm-4" style="position: relative; left: 30%; top: 10%;">	
   <div class="fieldwid">
   
  	<div class="form-group required" show-errors>
  	<table>
  	
  	<tr>
  	<td class="col-sm-5"><label >Employee Id :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" id="empid"
    	 name="txtname" ng-model="empid" placeholder="Employee Id" ng-minlength="1" maxlength="5" pattern="[0-9]*" required>
	</td>
	</tr>
	</br>  
	<tr>
	<td class="col-sm-5"><label >Employee Name :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" id="txtname1"
    	 name="txtname1" ng-model="empname" placeholder="Enter Your Name" ng-minlength="3" maxlength="20" ng-pattern="/^[a-zA-Z_\s&.-]*$/" required>
   	</td>
	</tr>
	</br>
	<tr>
	<td class="col-sm-5"><label >Mobile No :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" id="txtname"
    	 name="txtname" ng-model="mobile" placeholder="Mobile number" ng-minlength="10" maxlength="10" pattern="[7-9][0-9]{9}" required>
   	</td>
	</tr>
	
	<tr>
	<td class="col-sm-5"><label >Email :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" placeholder="Please Enter Email" ng-model="email" id="textmail" name="txtemail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
   	</td>
	</tr>

	<tr>
	<td class="col-sm-5"><label >Location :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" placeholder="Please Enter Job Location" ng-model="location" id="textmail" name="txtlocation" ng-pattern="" required>
   	</td>
	</tr>
	
	<tr>
	<td class="col-sm-5"><label >Department :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" placeholder="Please Enter Department" ng-model="department" id="textdepartment" name="txtdepartment" ng-pattern="" required>
   	</td>
	</tr>
	
	<tr>
	<td class="col-sm-5"><label >Blood Group :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" placeholder="Please Enter Blood Groop" ng-model="bgp" id="textbgp" name="txtbgp" ng-pattern="" required>
   	</td>
	</tr>	
   
  	</table>
  	<div >
  		<label class="col-sm-7">Gender</label>
  		<div class="col-sm-7">
		<input type="radio" name="sex" value="male" ng-model="gender" checked> Male  
		<input type="radio" name="sex" value="female" ng-model="gender"> Female	
  		</div>
  	</div>	
  	</div>
   	  	
   	
 </div>      
  			
<br>	
		<div class="col-sm-4">						
		<input type="button" class="btn btn-success" value="Register" ng-click="addEmp()" ng-disabled="">
		</div>
</div>		
</div>

</form>	