<!--   Content  Templated  -->
<form name="reg_form" class="form-horizontal container-fluid" role="form">
	<div class="container">	
	<h3 style="text-shadow:0px 0px green;position: relative;left: 33%; top: 5%;">Employee Registration</h3>
	<div class="col-sm-4" style="position: relative; left: 30%; top: 10%;">	
   <div class="fieldwid">
   
  	<div class="form-group required" show-errors>
  	<table>
  	
  	<tr>
  	<td class="col-sm-5"><label >Causal Leave :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" id="cl"
    	 name="txtcl" ng-model="cl" placeholder="Causal Leave" ng-minlength="1" maxlength="2" pattern="[0-9]*" required>
	</td>
	</tr>
 
	<tr>
	<td class="col-sm-5"><label >Earned Leave :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" id="el"
    	 name="txtel" ng-model="el" placeholder="Erned Leave" ng-minlength="1" maxlength="2" pattern="[0-9]*" required>
   	</td>
	</tr>
	
	<tr>
	<td class="col-sm-5"><label >Sick Leave :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" id="sl"
    	 name="txtsl" ng-model="sl" placeholder="Sick Leave" ng-minlength="1" maxlength="2" pattern="[0-9]*" required>
   	</td>
	</tr>
	
	<tr ng-show="genderleave()">
	<td class="col-sm-5"><label >Maternity Leave :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" placeholder="Maternity Leave" ng-model="ml" id="textml" name="txtml" pattern="[0-9]*" required>
   	</td>
	</tr>

	<tr ng-hide="genderleave()">
	<td class="col-sm-5"><label >Paternity Leave :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" placeholder="Paternity Leave" ng-model="pl" id="textpl" name="txtpl" pattern="[0-9]*" required>
   	</td>
	</tr>
	
	<tr>
	<td class="col-sm-6"><label >Compassionate Leave :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" placeholder="Compassionate Leave" ng-model="cpl" id="textcpl" name="txtcpl" pattern="[0-9]*" required>
   	</td>
	</tr>
	
	<tr>
	<td class="col-sm-5"><label >Marriage leave :</label></td>
	<td class="col-sm-5"><input type="text" class="form-control text-control" placeholder="Marriage leave" ng-model="mml" id="textmml" name="txtmml" pattern="[0-9]*" required>
   	</td>
	</tr>	
   
  	</table>
  	</div>
   	  	
   	
 </div>      
  					
<br>	
		<div class="col-sm-4">						
		<input type="button" class="btn btn-success" value="Register" ng-click="addLeavePolicy()" >
		</div>
</div>		
</div>

</form>	
