<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Merchant Self Care Porta</title>


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
</head>

<body>

  <!-- Navigation -->

<navx id="slide-menu" class="bodyx"><p></p>
<p class="dashcontrol"><b>Mission</b> Control</p>
<img src="images/logox.png" class="menuimage">


 <div class="container menubutton">
                                               
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Kopal Darbari
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Edit Profile</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Preferences</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sign Out</a></li>
        </ul>
      </div>
    </div>



	<ul class="menutop">

		<li class="timeline">Dashboard</li>
		<li class="events">Transactions</li>
		<li class="calendar">News</li>
		<li class="settings">My Wallet</li>
		<li class="logout">Mwallet Care</li>
	</ul>
</navx>
<!-- Content panel -->

<div id="content">
	<div class="menu-trigger"></div>
	<font class="bodyhead">My Wallet</font>
<p> Here you can find some general informaion like your account balance, news and recent transactions.
<br /><br />
<div class="headframe">	
<table class="headtable">
	<tr>
	<td class="headcell"><h4>ERP Balance</h4> €320.5</td>
	<td class="headcell"><h4>Erecharge Balance</h4>€20.3</td>
	<td class="headcell"><h4>Incoming Balance</h4>€4.3</td>
	</tr>
</table>
</div>
<br /><br /><br />
<!-- Content panel 2 -->

<div class="mywalletnav">
<table class="table table-hover">
	  		<tr><td>Branch Structure</td></tr> 
	  		<tr><td>Merchant Management</td></tr>	
			<tr><td>Fund-Out Account</td></tr>
		        <tr><td>Cash/Load </td></tr>
	 		<tr><td>Security Details</td></tr>
	  		<tr><td>Disbursements</td></tr> 
	  		<tr><td>Coupons</td></tr> 
			<tr><td>Contact Details</td></tr>
			<tr><td>Business Profile </a> </td></tr>  
	  	  
	  </table>
</div>
  <script src="js/index.js"></script>
</body>
<script>	
	function tick2(){
		$('#ticker_02 li:first').slideUp( function () { $(this).appendTo($('#ticker_02')).slideDown(); });
	}
	setInterval(function(){ tick2 () }, 3000);

</script>
</html>
